/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"); */
@font-face {
  font-family: "Corbel";
  src: url("https://db.onlinewebfonts.com/t/51ee907427c788c3ab4442e73286d641.eot");
  src: url("https://db.onlinewebfonts.com/t/51ee907427c788c3ab4442e73286d641.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/51ee907427c788c3ab4442e73286d641.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/51ee907427c788c3ab4442e73286d641.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/51ee907427c788c3ab4442e73286d641.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/51ee907427c788c3ab4442e73286d641.svg#Corbel V2")format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(to right, #616A70 0%, #909194 100%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.hero-background-image{
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),
    url('./assets/background-hero3.jpeg');
  background-size: cover;
  
}

.bg-orange{
  background-color: rgba(238, 137, 47, .8);
}

.about-bg{
  content: " ";
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 65%, rgba(180, 174, 168, 1) 65%, rgba(180, 174, 168, 1) 85%, rgba(255, 255, 255, 1) 85%);
}

.bg-offwhite{
  background-color: #FCE9D8;
}
.bg-offwhite-gradient{
  content: " ";
  background: linear-gradient(rgba(238, 137, 47, 1) 0%, rgba(252, 233, 216, 1) 30%);
}

.border-separators{
  border-right: 1px solid;
}
.booking-item-border {
  border-right: 1px solid #ddd !important;
  height: 32px !important;
  align-self: center !important;
  flex: 0 0 0px !important;
}
.blog-item-border {
  border-bottom: 2px solid blue !important;
  height: 1px !important;
  align-self: center !important;
  flex: 0 0 0px !important;
  width: 100%
}
.rotate-text{
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
}


.arrow-right{
  border: solid black;
  border-width: 0 0.05px 0.05px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg) scale(5);
}
.sidebar-bg{
  background: #FB7712;
}
* {
  scroll-behavior: smooth;
}
.bg-gray2-gradient{
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(180, 180, 180, 1) 0%, rgba(232, 232, 232, 1) 100%);
}
.text-gradient {
  background: linear-gradient(to right, #004770 0%, #6C7894 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.arrow {
  width: 120px;
}

.line {
  width: 30px;
  background: black;
  height: 4px;
  float: left;
}

.point {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
  float: right;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-gradient-custom{
  background: linear-gradient(to bottom, #EFF6FC 0%, #F3F5FA 100%);
}
.bg-black-gradient {
  background: linear-gradient(to right, #004770 0%, #6C7894 100%);
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
      #f0f0f0 -78.47%,
      #e0e0e0 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.car-shadow{
  box-shadow:  0 10px 10px rgba(0, 0, 50, .15)
}